# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# User-specific settings
UserSettings/

# Crash reports
*.pidb
*.booproj
*.pidb.meta
*.pdb
*.mdb
*.opendb

# IDE-specific files
# Rider
.idea/
*.sln.iml

# Visual Studio
.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userosscache
*.userprefs

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

# Textures
*.tga.meta
*.tif.meta

# Audio
*.wav.meta

# Other
*.apk
*.swp
*.lock
*.log
